@import url("contact.css");
@import url("nav.css");
@import url("header.css");
@import url("course.css");
@import url("aboutus.css");
@import url("teacher.css");
@import url("stat.css");
@import url("topic.css");
@import url("faq.css");
@import url("footer.css");
@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("../fonts/Vazirmatn-Medium.woff2") format("woff2"),
    url("../fonts/Vazirmatn-Medium.woff") format("woff"),
    url("../fonts/Vazirmatn-Medium.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2"),
    url("../fonts/Vazirmatn-Bold.woff") format("woff"),
    url("../fonts/Vazirmatn-Bold.eot") format("eot");
  font-weight: normal;
  font-style: normal; 
}




 

